.busca-campo {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.resultado-unico-busca {
    padding-top: 30px;
    padding-bottom: 30px;
}

.categorias-filter form {
    padding-top: 1rem;
}

.pages {
    padding-top: 1rem;
    padding-bottom: 1rem;
}