.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 80%;
}

.text-break {
    word-wrap: break-word;
}

.img-estrela {
    width: auto;
    height: 1rem;
}

.img-dollar {
    width: auto;
    height: 1rem;
}

.img-map-marker {
    width: auto;
    height: 24px;
    padding-left: 7px;
    padding-right: 7px;
}