<div class="container">
    <section class="busca-opcoes row border-bottom">
        <h1 class="sr-only">Campo de busca</h1>
        <div class="input-group mb-3 col-10 mx-auto">
            <input type="text" class="form-control" placeholder="Cidade ou nome do lugar" aria-label="Cidade ou nome do lugar" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Buscar</button>
            </div>
        </div>
    </section>

    <section class="resultados-busca-filtros row">
        <header class="categorias-filter col-2 border-right">
            <form>
                <h1 class="sr-only">Filtros da busca</h1>
                <section>
                    <span class="font-weight-bold">Categorias</span>
                    <div class="form-check" ng-repeat="categoria in categorias">
                        <input type="checkbox" class="form-check-input" value="{{categoria.name}}" id="{{categoria.name}}Categoria">
                        <label class="form-check-label" for="{{categoria.name}}Categoria">{{categoria.name}}</label>
                    </div>
                </section>
                <section>
                    <span class="font-weight-bold">Classificação Mínima</span>
                    <div class="form-check" ng-repeat="qtdeEstrelas in [1, 2, 3, 4, 5] track by $index">
                        <input class="form-check-input" name="classificacao" type="radio" id="classificacao{{qtdeEstrelas}}" value="Classificação {{qtdeEstrelas}}">
                        <label class="form-check-label" for="classificacao1">
                            <span class="sr-only">{{qtdeEstrelas}} ou mais estrelas</span>
                            <img src="images/estrela.png" class="img-estrela" ng-repeat="i in [1, 2, 3, 4, 5]|limitTo:qtdeEstrelas" aria-hidden="true">
                        </label>
                    </div>
                </section>
                <section>
                    <span class="font-weight-bold">Custo máximo</span>
                    <div class="form-check" ng-repeat="qtdeDollars in [1, 2, 3, 4, 5] track by $index">
                        <input class="form-check-input" name="custo" type="radio" id="custo{{qtdeDollars}}" value="Custo {{qtdeDollars}}">
                        <label class="form-check-label" for="custo1">
                            <span class="sr-only">Nota {{qtdeDollars}} ou menos</span>
                            <img src="images/dollar.svg" class="img-dollar" ng-repeat="i in [1, 2, 3, 4, 5]|limitTo:qtdeDollars" aria-hidden="true">
                        </label>
                    </div>
                </section>
            </form>
        </header>

        <section class="resultados-busca col-10">
            <h1 class="sr-only">Resultados da busca</h1>
            <article class="resultado-unico-busca row border-bottom" ng-repeat="lugar in lugaresResultado">
                <div class="col-4">
                    <a href="#/info" alt="Link para as informações do lugar: {{lugar.name}}">
                        <img class="col-12" src="{{lugar.image}}">
                        <span class="font-weight-bold d-flex justify-content-center">{{lugar.name}}</span>
                    </a>
                </div>
                <div class="col-8">
                    <p class="font-weight-bold">
                        Classificação: </br>
                        <span class="sr-only">{{lugar.avgStars}} estrelas</span>
                        <span>
                            <img src="images/estrela.png" class="img-estrela" ng-repeat="i in [1, 2, 3, 4, 5]|limitTo:lugar.avgStars" aria-hidden="true">
                        </span>
                        <span class="font-weight-light">{{lugar.qtdeStars}} avaliações</span>
                    </p>
                    <p class="font-weight-bold">
                        Custo: 
                        <span class="sr-only">Nota {{lugar.avgPrices}}</span>
                        <img src="images/dollar.svg" class="img-dollar" ng-repeat="i in [1, 2, 3, 4, 5]|limitTo:lugar.avgPrices" aria-hidden="true">
                    </p>
                    <p class="font-weight-bold">
                        Categorias: </br>
                        <span class="font-weight-normal" ng-repeat="categoria in lugar.categories">{{categoria}} </span>
                    </p>
                </div>
            </article>
        </section>
    </section>
</div>