<div class="container">
    <section class="info-section">
        <h3 class="font-weight-bold">{{lugar.Name}}</h3>
        <span><img src="images/map_marker.svg" class="img-map-marker" aria-label="Localização: ">{{lugar.City}}, {{lugar.State}}</span>
        <div class="row bg-light rounded border border-dark descricao-info">
            <span class="col-4">
                <p class="font-weight-bold">
                    Classificação:
                    <span class="sr-only">{{lugar.avgStars}} estrelas</span>
                    <span>
                        <img src="images/estrela.png" class="img-estrela" ng-repeat="i in [1, 2, 3, 4, 5]|limitTo:lugar.avgStars" aria-hidden="true">
                    </span>
                    <span class="font-weight-light">{{lugar.qtdeRates}}  <span ng-hide="lugar.qtdeRates == 1">avaliações</span><span ng-hide="lugar.qtdeRates != 1">avaliação</span></span>
                </p>
                <p class="font-weight-bold">
                    Custo: 
                    <span class="sr-only">Nota {{lugar.avgPrices}}</span>
                    <img src="images/dollar.svg" class="img-dollar" ng-repeat="i in [1, 2, 3, 4, 5]|limitTo:lugar.avgPrices" aria-hidden="true">
                </p>
            </span>
            <p class="font-weight-bold col-8">
                Categorias: </br>
                <span class="font-weight-normal" ng-repeat="categoria in lugar.Categories">{{categoria.Name}}<span ng-hide="$index == lugar.Categories.length-1">, </span></span>
            </p>
        </div>

        <div class="row">
            <div class="mx-auto">
                <div class="col-12">
                    <img class="img-fluid" ng-src="{{lugar.Images[indexFoto].Url}}" aria-label="Imagem de {{lugar.Name}}">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-around botoes-foto">
            <div class="col-6">
                <button ng-disabled="lugar.Images.length == 0 || indexFoto == 0" type="button" class="btn btn-outline-secondary btn-block" ng-click="fotoAnterior()">Foto anterior</button>
            </div>
            <div class="col-6">
                <button ng-disabled="lugar.Images.length == 0 || indexFoto == lugar.Images.length-1" type="button" class="btn btn-outline-secondary btn-block" ng-click="proximafoto()">Próxima foto</button>
            </div>
        </div>
    </section>

    <section ng-hide="$storage.user == null" class="secao-avaliacao">
        <h4>Faça sua avaliação</h4>
        <form class="row">
            <div class="col-2 form-group">
                <p class="font-weight-bold">Classificação</p>
                <div class="form-check" ng-repeat="qtdeEstrelas in [1, 2, 3, 4, 5] track by $index" ng-click="chooseStars(qtdeEstrelas)">
                    <input ng-disabled="jaAvaliou == true" class="form-check-input" name="classificacao" type="radio" id="classificacao{{qtdeEstrelas}}" value="Classificação {{qtdeEstrelas}}">
                    <label class="form-check-label" for="classificacao{{qtdeEstrelas}}">
                        <span class="sr-only">{{qtdeEstrelas}} estrelas</span>
                        <img src="images/estrela.png" class="img-estrela" ng-repeat="i in [1, 2, 3, 4, 5]|limitTo:qtdeEstrelas" aria-hidden="true">
                    </label>
                </div>
            </div>
            <div class="col-2 form-group">
                <p class="font-weight-bold">Custo</p>
                <div class="form-check" ng-repeat="qtdeDollars in [1, 2, 3, 4, 5] track by $index" ng-click="chooseDollars(qtdeDollars)">
                    <input ng-disabled="jaAvaliou == true" class="form-check-input" name="custo" type="radio" id="custo{{qtdeDollars}}" value="Custo {{qtdeDollars}}">
                    <label class="form-check-label" for="custo{{qtdeDollars}}">
                        <span class="sr-only">Nota de custo {{qtdeDollars}}</span>
                        <img src="images/dollar.svg" class="img-dollar" ng-repeat="i in [1, 2, 3, 4, 5]|limitTo:qtdeDollars" aria-hidden="true">
                    </label>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="font-weight-bold">Comentário</label>
                    <textarea ng-disabled="jaAvaliou == true" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="(opcional)" ng-model="comment"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <input ng-show="jaAvaliou == true" class="btn btn-outline-danger" type="submit" value="Remover Avaliação" ng-click="deletarAvaliacao()">
                    <input ng-hide="jaAvaliou == true" class="btn btn-outline-primary" type="submit" value="Realizar Avaliação" ng-click="enviarAvaliacao()">
                </div>
            </div>
        </form>
    </section>

    <section class="info-avaliacoes border-top">
        <h4>Avaliações</h4>
        <header class="border-top border-bottom secao-ordenar">
            <span class="font-weight-bold">Ordenar por:</span>
            <button ng-click="ordenarPor('Stars')" type="button" class="btn btn-sm" 
                ng-class="{ 'btn-primary': ordemRates === 'Stars', 'btn-outline-primary': ordemRates !== 'Stars'}" 
                aria-label="Clique para ordenar por classificação">
                Classificação
                <img ng-hide="ordemRates !== 'Stars' || ordemReversa" class="img-chevron align-middle" src="images/icons/svg/chevron-top.svg" aria-label="ordenado inversamente">
                <img ng-hide="ordemRates !== 'Stars' || !ordemReversa" class="img-chevron align-middle" src="images/icons/svg/chevron-bottom.svg" aria-label="ordenado em ordem normal">
            </button>
            <button ng-click="ordenarPor('Price')" type="button" class="btn btn-sm" 
                ng-class="{ 'btn-primary': ordemRates === 'Price', 'btn-outline-primary': ordemRates !== 'Price'}" 
                aria-label="Clique para ordenar por custo">
                Custo
                <img ng-hide="ordemRates !== 'Price' || ordemReversa" class="img-chevron align-middle" src="images/icons/svg/chevron-top.svg" aria-label="ordenado inversamente">
                <img ng-hide="ordemRates !== 'Price' || !ordemReversa" class="img-chevron align-middle" src="images/icons/svg/chevron-bottom.svg" aria-label="ordenado em ordem normal">
            </button>
            <button ng-click="ordenarPor('Login')" type="button" class="btn btn-sm" 
                ng-class="{ 'btn-primary': ordemRates === 'Login', 'btn-outline-primary': ordemRates !== 'Login'}" 
                aria-label="Clique para ordenar por nome de usuário">
                Usuário
                <img ng-hide="ordemRates !== 'Login' || ordemReversa" class="img-chevron align-middle" src="images/icons/svg/chevron-top.svg" aria-label="ordenado inversamente">
                <img ng-hide="ordemRates !== 'Login' || !ordemReversa" class="img-chevron align-middle" src="images/icons/svg/chevron-bottom.svg" aria-label="ordenado em ordem normal">
            </button>
        </header>
        <div class="avaliacao-unica border-bottom" ng-repeat="rate in rates | orderBy : ordemRates : ordemReversa">
            <p><span class="font-weight-bold">Usuário:</span> {{rate.Login}}</p>
            <div class="row">
                <div class="col-2">
                    <span class="font-weight-bold">Classificação</span></br>
                    <span class="sr-only">{{rate.Stars}} estrelas</span>
                    <img src="images/estrela.png" class="img-estrela" ng-repeat="i in [1, 2, 3, 4, 5]|limitTo:rate.Stars" aria-hidden="true"></br>

                    </br>
                    <span class="font-weight-bold">Custo</span></br>
                    <span class="sr-only">Nota {{rate.Price}}</span>
                    <img src="images/dollar.svg" class="img-dollar" ng-repeat="i in [1, 2, 3, 4, 5]|limitTo:rate.Price" aria-hidden="true">
                </div>
                <div class="col-10" ng-hide="rate.Comment == null">
                    <span class="font-weight-bold">Comentário</span></br>
                    <span class="font-weight-light">{{rate.Comment}}</span>
                </div>
            </div>
        </div>
    </section>
</div>