<div class="container">
    <h2><span class="text-uppercase">Top</span> 6 Populares</h2>
    <div class="row">
        <div class="col-2" ng-repeat="place in topPopulares">
            <img class="image-top" ng-src="{{place.image}}">
            <p class="font-weight-bold">{{place.name}}</p>
        </div>
    </div>

    <h2><span class="text-uppercase">Top</span> 6 Avaliados</h2>
    <div class="row">
        <div class="col-2" ng-repeat="place in topAvaliados">
            <img class="image-top" ng-src="{{place.image}}">
            <p class="font-weight-bold">{{place.name}}</p>
        </div>
    </div>

    <h2><span class="text-uppercase">Top</span> 6 Custo-benefício</h2>
    <div class="row">
        <div class="col-2" ng-repeat="place in topCustoBeneficio">
            <img class="image-top" ng-src="{{place.image}}">
            <p class="font-weight-bold">{{place.name}}</p>
        </div>
    </div>

</div>